* {
    background-image: none;
    font-family: "Cascadia Mono", monospace;
}

window {
    background-color: rgba(26, 27, 38, 0.6);
}

grid {
    background-color: rgba(0, 20, 0, 0.2); 
    margin: 300px 700px; 
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/* button { */
/*     background-color: #000000; */
/*     color: #ffffff;  */
/*     font-size: 40px; */
/*     border-style: solid; */
/*     border-width: 0px; */
/*     border-radius: 20px;  */
/*     margin: 10px;  */
/*     padding: 0px; */
/*     min-width: 100px; */
/*     min-height: 100px; */
/*     box-shadow: none; */
/*     text-shadow: none; */
/*     outline-style: none; */
/* } */ 

button {
    background-color: #000000;
    color: #ffffff;
    font-size: 40px;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    margin: 10px;
    padding: 15px 90px;
    min-width: 0px;
    min-height: 0px;
    box-shadow: none;
    text-shadow: none;
    outline-style: none;
}

/* Hover Effect */
button:hover {
    background-color: #7aa2f7; /* Tokyo Night Blue */
    color: #1a1b26;
    border-radius: 15px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

/* button:focus { */
/*     background-color: #bb9af7; */
/*     color: #1a1b26; */
/* } */


